@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,400&family=Seaweed+Script&display=swap");

html {
  height: 100%;
  box-sizing: border-box;
  body {
    @extend html;
    background: url("./headlight.jpg") no-repeat;
    background-size: 100%;
    background-position: center;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

#content {
  border: 1px solid black;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  justify-items: center;
  color: #3d3535;
  header {
    font-family: "Seaweed Script", cursive;
    font-size: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    * {
      margin: 0 1.5rem;
    }
  }

  main {
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
    grid-row: 2;
    align-self: self-start;
    margin-top: 8rem;
    &.menu {
      margin-top: 4rem;
      background-color: rgba(209, 200, 199, 0.3);
      display: grid;
      grid-template-columns: 16rem 16rem;
      gap: 3rem;
      padding: 2rem;
      border-radius: 8px;
      div {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 0.5rem;
        span {
          justify-self: end;
        }
        p {
          grid-column: 1 / -1;
        }
      }
    }
  }

  footer {
    justify-self: end;
    padding: 2px;
    font-size: 0.8rem;
    grid-row: 3;
    div {
      color: rgb(146, 146, 146);
      a {
        @extend div;
      }
    }
  }
}
